{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<style>
#content_box {
    width: 100%;
    padding: 10px 0px;
}
#content_title {
    margin: 5px 0px;
}
.member-avatar{
    float: left;
    width: 130px;
}
.member-avatar img{
    width: 100px;
    height: 143px;
}
.member-intro{
    float: left;
}
.member-intro p{
    text-indent: 0px !important;
}
.member-more-btn{
    float: right;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{nav.title}}</div>
            <ul class="menu">
            {% for l in categories %}
                <li class="sub_list">
                    <a href="{{l.url}}"><span class="menu_list">{{l.title}}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <div id="content">
            <div id="content_title">{{ static.title }}</div>
            <div id="content_body">
                {% for t in team %}
                    <div class="member-box">
                        <div class="member-avatar">
                            <img src="/static/images/uploads/team/avatar/{{ t.id }}.jpg" />
                        </div>
                        <div class="member-intro">
                            <p>{{ t.shortIntro|raw }}</p>
                        </div>
                        <div class="member-more-btn">
                        {% if t.name == '毛睿' %}<a href="http://nhpcc.szu.edu.cn/mao/">{%else%}
                            <a href="/overview/team/{{t.id}}">
                            {% endif %}<img src="/static/images/xiangxi.gif" border="0"/></a>
                        </div>
                        <div style="clear: both;"></div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}