{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<style>
#content_box {
    width: 100%;
    padding: 10px 0px;
}
#content_title {
    margin: 5px 0px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="content_box">
        <div id="content">
            <div id="content_title">研究队伍 -- {{ teacher.name }}</div>
            <div id="content_body">
                {{ teacher.intro|raw }}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
