{% import 'tools/admin-tools.twig' as tools %}
{% extends 'admin/base.html' %}

{% block headhtml %}
<link href="/static/styles/admin/account.css" media="all" rel="stylesheet" type="text/css" />
<script>
$(function(){
    $(".btn-remove").click(function(){
        id = $(this).attr("id").replace("oid-", '');
        $.ajax({
            url: '/admin/article/' + id,
            type: 'DELETE',
            dataType: 'json',
            success: function(response){
                if (response.success) {
                    $S.redirect("/admin/article");                    
                }else{
                    $S.alert(response.message.join('，'),2000);
                }
            },
            error: function() {
                $S.error('发生技术问题，导致你的操作失败。请联系管理员！');
            }
        });
    });
});
</script>
{% endblock %}

{% block content %}
<span style="float: left;"><a href="/admin/article/create">发布文章</a></span> <h2>文章管理  &amp; Manage Article</h2>
<ul>
    <li>
        <div style="width:25%">标题</div>
        <div style="width:15%">作者</div>
        <div style="width:10%">分类</div>
        <div style="width:20%">时间</div>
        <div style="width:20%">操作</div>
    </li>
    {% for u in article %}
        <li>
        <a href="/article/{{u.id}}">
            <div style="width:25%">{{ u.title }}</div>
            <div style="width:15%">{{ u.author.name }}</div>
            <div style="width:10%">{{ tools.getArticleType(u.category) }}</div>
            <div style="width:20%">{{ u.created|date("Y-m-d H:i:s") }}</div>
        </a>
        <div style="width:20%"><button onclick="location.href='/admin/article/{{u.id}}/edit'" >修改</button> | <button class="btn-remove" id="oid-{{u.id}}">删除</button></div>
        </li>
    {% endfor %}
</ul>
<div id="pageline">
</div>
{% endblock %}
