{% import 'tools/admin-tools.twig' as tool %}
{% extends 'admin/base.html' %}

{% block headhtml %}
<link href="/static/styles/admin/account.css" media="all" rel="stylesheet" type="text/css" />
<style>
#article-list{
    margin: 0 auto;
}
#article-list li{
    line-height: 30px;
}
#article-list #btns{
    text-align: right;
    width: 100%;
}
#article-list label{
    width: 200px;
    display: inline-block;
    text-align: right;
}
#article-list span{
    width: 300px;
    display: inline-block;
    text-align: left;
}
</style>
<script type="text/javascript">
$('#article_create_form').ajaxForm({
    dataType:'json',
    success: function(response){
        if (response.success) {
            $S.redirect("/admin/article", 10);
        }else{
            $S.alert(response.message.join('，'),2000);
        }
    },
    error: function() {
        $S.error('发生技术问题，导致你的操作失败。请联系管理员！');
    }
});
</script>
{% endblock %}

{% block content %}
<h2>信息管理  &amp; Manage News</h2>
<div id="article-list">
<form action="/admin/article" method="post" id="article_create_form">
    <ul>
        <li><label>标题：</label> <input type="text" value="" name="title" /></li>
        <li><label>类型：</label>
        <select name="category">
            <option value="1">新闻简报</option>
            <option value="5">通知公告</option>
            <option value="9">学术活动</option>    
        </select>
        <li><label>内容：</label> <br />
        <textarea cols="100" rows="10" name="content"></textarea></li>
        </li>
    </ul>
    <div id="btns">
        <input type="submit" value="添加" />
        <input type="button" value="取消" onclick="location.href='/admin/article';"/>
    </div>
</form>
</div>
{% endblock %}
