{% import 'tools/admin-tools.twig' as tool %}
{% extends 'admin/base.html' %}

{% block headhtml %}
<link href="/static/styles/admin/account.css" media="all" rel="stylesheet" type="text/css" />
<script type="text/javascript" charset="utf-8" src="{{ siteUrl('/static/scripts/plugins/ueditor/ueditor.config.js') }}"></script>
<script type="text/javascript" charset="utf-8" src="{{ siteUrl('/static/scripts/plugins/ueditor/ueditor.all.min.js') }}"> </script>
<script type="text/javascript" charset="utf-8" src="{{ siteUrl('/static/scripts/plugins/ueditor/lang/zh-cn/zh-cn.js') }}"></script>

<style>
#article-list{
    margin: 0 auto;
}
#article-list li{
    line-height: 30px;
}
#article-list #btns{
    text-align: right;
    width: 100%;
}
#article-list label{
    width: 200px;
    display: inline-block;
    text-align: right;
}
#article-list span{
    width: 300px;
    display: inline-block;
    text-align: left;
}
</style>
<script type="text/javascript">
$('#article_create_form').ajaxForm({
    dataType:'json',
    success: function(response){
        if (response.success) {
            $S.redirect("/admin/article", 10);
        }else{
            $S.alert(response.message.join('，'),2000);
        }
    },
    error: function() {
        $S.error('发生技术问题，导致你的操作失败。请联系管理员！');
    }
});
</script>
{% endblock %}

{% block content %}
<h2>信息管理  &amp; Manage News</h2>
<div id="article-list">
<form action="/admin/article" method="post" id="article_create_form">
    <ul>
        <li><label>标题：</label> <input type="text" value="" name="title" /></li>
        <li><label>类型：</label>
        <select name="category">
            {% for key, cat in categories %}
            {% for c in cat[1] %}
            <option value="{{ c[0] }}">{{ cat[0] }} / {{ c[1] }}</option>
            {% endfor %}
            {% endfor %}
        </select>
        <li><label>内容：</label> <br />
        <script id="editor" type="text/plain" name="content" style="min-height:300px;">
        </script>
        </li>
        </li>
    </ul>
    <div id="btns">
        <input type="submit" value="添加" />
        <input type="button" value="取消" onclick="location.href='/admin/article';"/>
    </div>
</form>
</div>

<script type="text/javascript" charset="utf-8" src="{{ siteUrl('/static/scripts/ueditor.js') }}"></script>

{% endblock %}
