{% import 'tools/admin-tools.twig' as tool %}
{% extends 'admin/base.html' %}

{% block headhtml %}
<link href="/static/styles/admin/account.css" media="all" rel="stylesheet" type="text/css" />
<style>
#news-list{
    width: 100%;
    margin: 0 auto;
}
#news-list li{
    line-height: 30px;
}
#news-list #btns{
    text-align: right;
    width: 100%;
}
#news-list label{
    width: 150px;
    display: inline-block;
    text-align: right;
}
#news-list span{
    display: inline-block;
    text-align: left;
}

.content-text{
    text-align: left;
    text-indent: 2em;
    width: 100%;
}
</style>
<script type="text/javascript">
$('#news_edit_form').ajaxForm({
    dataType:'json',
    success: function(response){
        if (response.success) {
            $S.redirect("/admin/news", 0);
        }else{
            $S.alert(response.message.join('，'),2000);
        }
    },
    error: function() {
        $S.error('发生技术问题，导致你的操作失败。请联系管理员！');
    }
});
</script>
{% endblock %}

{% block content %}
<h2>信息管理  &amp; Manage News</h2>
<div id="news-list">
<form action="/admin/news/{{queryNews.id}}/edit" method="put" id="news_edit_form">
    <ul>
    {% if action == 'view' %}
        <li><label>标题：</label> <span>{{ queryNews.title }}</span></li>
        <li><label>作者：</label> <span>{{ queryNews.author.name }}</span></li>
        <li><label>发表时间：</label> <span>{{ queryNews.created|date('Y-m-d H:i:s') }}</span></li>
        <li><label>内容：</label><br />
            <div class="content-text">{{ queryNews.content }}</div>
        </li>
    {% elseif action == 'edit' %}
        <li><label>标题：</label> <input tpye="text" value="{{ queryNews.title }}" name="title" /></li>
        <li><label>作者：</label> {{ queryNews.author.name }}</li>
        <li><label>内容：</label><br />
        <textarea cols="100" rows="10" name="content">{{ queryNews.content }}</textarea></li>
    {% endif %}
    </ul>
    <div id="btns">
        {% if action == 'view' %}
        <a href="/admin/news/{{queryNews.id}}/edit">编辑</a>
        {% elseif action == 'edit' %}
        <input type="submit" value="修改" />
        <input type="button" value="取消" onclick="location.href='/admin/news/{{queryNews.id}}';"/>
        {% endif %}
    </div>
</form>
</div>
{% endblock %}
