body{
	background: url(/static/images/bg.jpg) center top no-repeat;
	text-align: center;font: 12px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif, 宋体;
	color: #454545;
	padding-top: 10px;
}

#header{
	width: 1000px;
	margin: 0 auto;
}

#logo{
	height: 108px;
	margin: 0 auto;
}

#header_logo{
	float: left;
	background: url(/static/images/nhpcc_logo.png);
	height: 65px;
	width: 160px;
	text-indent: -9999em;
}

#header_link{
	color: #999;
	line-height: 36px;
	text-align: right;
	padding: 0 20px 0 0;
}

#header_title{
	background: url(/static/images/title.png);
	height:85px;
	width: 444px;
	float: left;
	font-size: 30px;
	text-indent: -999em;
}

#header_link a{
	color: #999;
	text-decoration: none;
}

#header_link a:hover{
	color: #f60;
	text-decoration: underline;
}

#header_search{
	display: block;
	float: right;
	margin: 18px 20px 0 0;
	background: #adcdda;
	padding: 4px;
	text-align: right;
	border: solid 0px #f00;
}

#header_search .stext{
	float: left;
	width: 193px; 
	padding: 4px 5px;
	height: 14px;
	border: 0 none;
	color: #aaa;
	font: 12px/14px arial;
	background-color: #e9f3f7;
}

#header_search .sbtn{
	float: left;
	width: 45px;
	height: 22px;
	border: 0 none;
	background: #feffff url(/static/images/search_btn.jpg) center top repeat-x;
	text-indent: -9999em;
	overflow: hidden;
	cursor: pointer;
}

.select{
	color:#888;
}

#menu{
	height: 39px;
	margin: 0 auto;
	position: relative;
	z-index: 120;
	background: #445c6a url(/static/images/menubg.jpg) center top repeat-x;
}

ul.top-link li a{
	text-decoration: none !important;
}

ul.top-link li{
	display: inline;
}

ul.top-link li.first:before{
	content: '';
    margin: 0px 0px 0px 5px;
}

ul.top-link li:before{
	content: '|';
    margin:0px 5px 0px 5px;
}

#nav{
	width: 1000px;
	margin: 0 auto;
	font-family: "microsoft yahei";
}

#nav #home{
	width: 90px;
	color: #fff;
	line-height: 39px;
	text-align: center;
}

#nav #home a{
	width:90px;
}

#nav ul{
	width: 91px;
	display: none;
	position: absolute;
	top: 100%;
	left: -35px;
}

#nav ul ul,#nav ul ul ul{
	top: 0;
	left: 160px;
}

#nav li{
	float: left;
	display: inline;
	position: relative;
}

#nav ul li{
	width: 100%;
	display: block;
}

#nav a{
	line-height: 39px;
	width: 91px;
	text-align: center;
	float: left;
	display: inline-block;
	height: 39px;
	line-height: 39px;
	font-size: 14px;
	font-weight: normal;
	display: block;
	color: #fff;
	text-decoration: none;
	height: 1%;
}

#nav a:hover,
#nav li:hover a,
#nav li.iehover a{
	color: #fff;
	background: #6a8287 url(/static/images/menu_hover.jpg) center bottom no-repeat;
}

#nav li:hover li a,
#nav li.iehover li a{
	float: none;
	background: #2d4455;
	color: #ddf1ed;
	width: 160px; 
	line-height: 28px;
	height: 28px;
	border-top: solid 1px #455e6c;
	font-size: 12px;
	font-weight: normal;
}

#nav li:hover li a:hover,
#nav li:hover li:hover a,
#nav li.iehover li a:hover,
#nav li.iehover li.iehover a{
	background: #df1700;
	color: #fff;
}

#nav li:hover li:hover li a,
#nav li.iehover li.iehover li a{
	background: #6a8287;
	color: #ddf1ed;
	width: 160px;
	line-height: 28px;
	height: 28px;
}

#nav li:hover li:hover li a:hover,
#nav li:hover li:hover li:hover a,
#nav li.iehover li.iehover li a:hover,
#nav li.iehover li.iehover li.iehover a{
	background: #df1700;
	color: #fff;
	font-size: 12px;
	font-weight: normal;
}

#nav li:hover li:hover li:hover li a,
#nav li.iehover li.iehover li.iehover li a{
	background:#fff;
	color:#fff;
	font-size:12px;
	font-weight:normal;
}

#nav li:hover li:hover li:hover li a:hover,
#nav li.iehover li.iehover li.iehover li a:hover{
	background:#df1700;
	color:#fff;
}

#nav li:hover ul ul,
#nav li:hover ul ul ul,
#nav li.iehover ul ul,
#nav li.iehover ul ul ul {
	display:none;
}

#nav li:hover ul,
#nav ul li:hover ul,
#nav ul ul li:hover ul,
#nav li.iehover ul,
#nav ul li.iehover ul,
#nav ul ul li.iehover ul{
	display:block;
}

#banner{
	margin: 0 auto;
	border-top: solid 1px #fff;
	height: 245px;
	background: #5e777e url(/static/images/bannerbg.jpg) center top repeat-x;
}

#footer{
	width: 1000px;
	margin: 0 auto;
	border-top: solid 2px #657e83;
	padding: 10px 0 0 0;
	clear: both;
	height: 80px;
	background: #fff url(/static/images/footerbg.jpg) center top repeat;
	line-height: 24px;
	color: #999;
	overflow: auto;
	text-align: center;
	margin-top: 20px;
}

#footer_link{
	width: 998px;
	border: solid 1px #ddd;
	padding: 5px 0;
	clear: both;
	height: 20px;
	color: #888;
}

#footer a{
	color: #aaa;
	text-decoration: underline;
}

#footer a:hover{
	color:#f00;
}

.copyright{
	font-family: arial;
	font-size: 12px;
	color: #999;
}
