body{
	background: url(/static/images/bg.jpg) center top no-repeat;
	text-align: center;font: 12px/1.5 'Helvetica Neue', Arial, 'Liberation Sans', FreeSans, sans-serif, 宋体;
	color: #454545;
	padding-top: 10px;
}

#container{
	width: 1000px;
	margin: 0 auto;
}

#header{
	height: 108px;
	margin: 0 auto;
}

#header_logo{
	float: left;
	background: url(/static/images/nhpcc_logo.png);
	height: 65px;
	width: 160px;
	text-indent: -9999em;
}

#header_link{
	color: #999;
	line-height: 36px;
	text-align: right;
	padding: 0 20px 0 0;
}

#header_title{
	background: url(/static/images/title.png);
	height:85px;
	width: 444px;
	float: left;
	font-size: 30px;
	text-indent: -999em;
}

#header_link a{
	color: #999;
	text-decoration: none;
}

#header_link a:hover{
	color: #f60;
	text-decoration: underline;
}

#header_search{
	display: block;
	float: right;
	margin: 18px 20px 0 0;
	background: #adcdda;
	padding: 4px;
	text-align: right;
	border: solid 0px #f00;
}

#header_search .stext{
	float: left;
	width: 193px; 
	padding: 4px 5px;
	height: 14px;
	border: 0 none;
	color: #aaa;
	font: 12px/14px arial;
	background-color: #e9f3f7;
}

#header_search .sbtn{
	float: left;
	width: 45px;
	height: 22px;
	border: 0 none;
	background: #feffff url(/static/images/search_btn.jpg) center top repeat-x;
	text-indent: -9999em;
	overflow: hidden;
	cursor: pointer;
}

.select{
	color:#888;
}

