{% import 'tools/admin-tools.twig' as tool %}
{% extends 'user/base.html' %}

{% block headhtml %}
<link href="/static/styles/admin/account.css" media="all" rel="stylesheet" type="text/css" />
<script type="text/javascript">
$('#user_edit_form').ajaxForm({
    dataType:'json',
    success: function(response){
        if (response.success) {
            $S.notice(response.message.join('，'),2000);
            $S.redirect("/profile", 2000); 
        }else{
            $S.alert(response.message.join('，'),2000);
        }
    },
    error: function() {
        $S.error('发生技术问题，导致你的操作失败。请联系管理员！');
    }
});
</script>
<style>
#user-list{
    width: 50%;
    margin: 0 auto;
}
#user-list li{
    line-height: 30px;
}
#user-list #btns{
    text-align: right;
    width: 100%;
}
#user-list label{
    width: 100px;
    display: inline-block;
    text-align: right;
}
</style>
{% endblock %}

{% block content %}
<h2>用户管理  &amp; Manage Account</h2>
<div id="user-list">
<form action="/profile/password" method="put" id="user_edit_form">
    <ul>
        <li><label>当前密码：</label><input type="password" name="old_passwd" /></li>
        <li><label>新密码：</label><input type="password" name="new_passwd" /></li>
        <li><label>密码确认：</label><input type="password" name="confirm_passwd" /></li>
    </ul>
    <div id="btns">
        <button class="btn">提交</button>
    </div>
</form>
</div>
<script>
    UE.getEditor('short_intro');
    UE.getEditor('intro');
</script>
{% endblock %}
