<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ webTitle }}</title>
    <meta name="keywords" content="{{ webKeywords }}" />
    <meta name="description" content="{{ webDescription }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/components/reset-css/index.css') }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/style.css') }}" />

</head>
<body>
{% block body %}

{% endblock %}
</body>
</html>
