<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html lang='zh-CN' xmlns='http://www.w3.org/1999/xhtml'> 
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta http-equiv="Content-Language" content="zh-CN" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>{{ global.webTitle }}</title>
    <meta name="keywords" content="{{ global.webKeywords }}" />
    <meta name="description" content="{{ global.webDescription }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/components/reset-css/index.css') }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/base.css') }}" />
    <link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/index.css') }}" />
</head>
<body>
{% block body %}
{% block header %}
<div id="header">
    <div id="logo">
        <a id="header_logo" href="/">{{ global.logoTitle }}</a>
        <div id="header_title">广东省重点实验室 国家高性能计算深圳中心</div>
        <div id="header_link">
            <ul class="top-link">
                <li class="first"><a href="/nhpcc">内部网</a></li>
                <li><a href="/contact">联系我们</a></li>
            </ul>
        </div>
        <div id="header_search">
            <form name="formLogin" method="post" action="/search">
                <input type="text" value="请输入您要搜索的关键词" onfocus="this.value=''" onblur="if(this.value==''){this.value='请输入您要搜索的关键词';}" name="Keyword" class="stext">
                <input type="submit" value="搜索" class="sbtn">
            </form>
        </div>
    </div>
    <div id="menu">
        <ul id='nav'>
            {% for item in global.categories %}
            <li>
                <a href="{{item.link}}" {%- if item.id %}id="{{item.id}}"{%- endif %} alt="{{item.title}}">{{item.title}}</a>
                {% if item.sub %}
                <ul>
                {% for sub in item.sub %}
                    <li><a href="{{sub.link}}" alt="{{sub.title}}">{{sub.title}}</a></li>
                {% endfor %}
                </ul>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </div>
    <div id="banner">
        <object classid="clsid:d27cdb6e-ae6d-11cf-96b8-444553540000" codebase="http://download.macromedia.com/pub/shockwave/cabs/flash/swflash.cab#version=6,0,0,0" width="1000" height="245" id="12" align=""> 
        <param name=movie value="/static/images/top.swf"><param name=quality value=high><param name=wmode value=transparent> 
        <embed src="/static/images/top.swf" quality=high wmode=transparent width="1000" height="245" name="12" align="" type="application/x-shockwave-flash" pluginspage="http://www.macromedia.com/go/getflashplayer"></embed> 
        </object>
    </div>
</div>
{% endblock %}

{% block main %}
{% endblock %}

{% block footer %}
<div id="footer">
    地址：深圳市南山区南海大道3688号深圳大学科技楼1304<br />
    电话：+86 (755) 2653 4207<br />
    <span class="copyright">Copyright &copy; 2013 国家高性能计算深圳分中心  All rights reserved.</span>
</div>
{% endblock %}

{% endblock %}
</body>
</html>
