{% extends "base.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<style>
#content_box {
    width: 100%;
    padding: 10px 0px;
}
#content_title {
    font-size: 28px;
    margin: 5px 0px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="content_box">
        {%- if nav %}
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a href="{{ nav.url }}">{{ nav.title }}</a></li>
            <li><a href="{{ sub.url }}">{{ sub.title }}</a></li>
        </ul>
        {%- endif %}
        <div id="content">
            <div id="content_title">{{ static.title | raw }}</div>
            <div id="content_body">
                {{ static.content|raw }}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
