{% extends 'base.html' %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/account.css') }}" />
{% endblock %}
{% block banner %}
{% endblock %}
{% block main %}
<div id="main">
    <form action="/login" method="post" id="login_form">
        <label><span>用户名：</span><input type="text" name="username" id="username" /></label><br />
        <label><span>密码：</span><input type="password" name="password" id="password" /></label><br />
        <input type="submit" value="登 录" />
        <input type="button" value="注 册" onclick="location.href='/reg';" />
    </form>
</div>
{% endblock %}
