{% extends "base.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<script>
$(function(){
    path = window.location.pathname;
    $(".sub_list").each(function(){
        var href = $(this).find('a').attr("href");
        if (href == path){
            $(this).addClass("selected");
        }
    })
});
</script>
<style>
.list_right_info{
    text-align: center;
    font-size: 12px;
    color: #acacac;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{nav.title}}</div>
            <ul class="menu">
            {% for l in categories %}
                <li class="sub_list">
                    <a href="{{l.url}}"><span class="menu_list">{{l.title}}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a href="{{nav.url}}">{{nav.title}}</a></li>
            <li><a href="{{sub.url}}">{{sub.title}}</a></li>
        </ul>
        <div id="content">
            <div id="content_title">{{ article.title | raw}}</div>
            <div class='list_right_info'>作者：{{ article.author.name }}　发布日期：{{article.created|date("Y-m-d H:i:s")}}　浏览次数：{{article.readCount}}</div>
            <div id="content_body">
                {{ article.content|raw }}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
