{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<script>
$(function(){
    path = window.location.pathname;
    $(".sub_list").each(function(){
        var href = $(this).find('a').attr("href");
        if (href == path){
            $(this).addClass("selected");
        }
    })
});
</script>
<style>
#menu_box{
    width: 280px;
}
#menu_title{
    background: #4f6773 url(/static/images/menubg2-2.jpg) 0 0 repeat;
}
.menu_list{
    font-size: 12px;
    font-weight: normal;
}
#content_box {
    width: 718px;
}
#content_body h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
#content_body ul{
    list-style: disc;
    margin-left: 60px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{nav.title}}</div>
            <ul class="menu">
            {% for name, value in research %}
                <li class="sub_list">
                    <a href="/research/{{ name }}"><span class="menu_list">{{ value.title }}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a>{{ nav.title }}</a></li>
            <li><a>普及型高性能计算机应用基础理论和支撑技术</a></li>
        </ul>
        <div id="content">
            <div id="content_title"> </div>
            <div id="content_body">
                <h1>普及型高性能计算机应用基础理论和支撑技术</h1>

                <p>本方向研究团队有教授4人,副教授5人,具有博士学位者19人。</p>
                <p>本方向在PHPC硬件、软件和安全性研究基础上,以PHPC的定制化应用为目标,主要研究内容包括：</p>
                <ul>
                    <li>兼具计算密集特点的海量数据处理应用</li>
                    <li>要求高并发性高稳定性的海量事务处理应用</li>
                    <li>具有高通量计算特征的计算生物应用</li>
                    <li>采用混合异构体系结构的医学图像处理应用</li>
                </ul>
                <p>本方向在学术研究中形成了一定的优势与特色,已获得多项国家自然科学基金、教育部、国家重点实验室、广东省自然科学基金、教育厅项目,并获得了省级、厅级各一项奖项。研究的人脸识别算法快速准确,论文被引用次数高,获得《Image and Vision Computing》期刊最多他引论文奖；首次将解混和三维小波等理论用于遥感数据分类,多项成果发表于SCI一区期刊《lEEE Transactions on Geoscience and Remote Sensing》；开发了高效、准确的嵌入式人脸、掌纹识别系统,系统获得美国德州仪器DSP大奖赛一、二等奖。目前已经发表相关SCI收录论文三十余篇,多项成果被业界广泛引用,具有较强的国际学术影响力。</p>

            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
