{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<script>
$(function(){
    path = window.location.pathname;
    $(".sub_list").each(function(){
        var href = $(this).find('a').attr("href");
        if (href == path){
            $(this).addClass("selected");
        }
    })
});
</script>
<style>
#content_body h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
#content_body h2{
    font-size: 18px;
    font-weight: bold;
}
#content_body ul{
    list-style: disc;
    margin-left: 60px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{ nav.title }}</div>
            <ul class="menu">
            {% for c in categories %}
                <li class="sub_list">
                    <a href="{{ c.url }}"><span class="menu_list">{{ c.title }}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a>{{ nav.title }}</a></li>
            <li><a>专著</a></li>
        </ul>
        <div id="content">
            <div id="content_title">专著</div>
            <div id="content_body">
            {% for each in achievements.monographs %}
                <h2>{{ each.kind }}</h2>
                <ul>
                {% for one in each.list %}
                    <li>{{ one }}</li>
                {% endfor %}
                </ul>
            {% endfor %}
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
