{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<script>
$(function(){
    path = window.location.pathname;
    $(".sub_list").each(function(){
        var href = $(this).find('a').attr("href");
        if (href == path){
            $(this).addClass("selected");
        }
    })
});
</script>
<style>
#content_body h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
#content_body h2{
    font-size: 18px;
    font-weight: bold;
}
#content_body ul{
    list-style: disc;
    margin-left: 60px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{nav.title}}</div>
            <ul class="menu">
            {% for l in categories %}
                <li class="sub_list">
                    <a href="{{l.url}}"><span class="menu_list">{{l.title}}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a>{{ nav.title }}</a></li>
            <li><a>专著</a></li>
        </ul>
        <div id="content">
            <div id="content_title"> </div>
            <div id="content_body">
                <h1>专著</h1>
                <h2>并行算法系列丛书</h2>
                <ul>
                    <li>陈国良，《并行算法：排序和选择》，中国科大出版社,1990</li>
                    <li>陈国良，陈崚，《VLSI计算理论与并行算法》，中国科大出版社,1990</li>
                    <li>陈国良主编，唐策善 梁维发《并行图论算法》，中国科大出版社,1991</li>
                    <li>陈国良，《并行算法：排序和选择》，台湾儒林图书公司,1992</li>
                    <li>陈国良主编，唐策善 梁维发《并行图论算法》，台湾儒林图书公司,1993</li>
                    <li>陈国良，陈崚，《VLSI计算理论与并行算法》,台湾儒林图书公司,1994</li>
                </ul>
                <h2>并行计算系列丛书</h2>
                <ul>
                    <li>陈国良，《并行算法的设计与分析》，高等教育出版社(1994第一版,2002第二版,2009第三版)</li>
                    <li>陈国良，《并行计算：结构•算法•编程》，高等教育出版社(1999第一版，2003第二版，2011第三版)</li>
                    <li>陈国良等， 《并行计算机体系结构》，高等教育出版社，2002</li>
                    <li>陈国良等， 《并行算法实践》，高等教育出版社，2004</li>
                </ul>
                <h2>词汇和辞典</h2>
                <ul>
                    <li>《英汉计算机词汇大全》：副主编，河北教育出版社，1990.8</li>
                    <li>《人工智能辞典》：编委，人民邮电出版社，1992.2</li>
                    <li>《英汉计算机与通信辞典》：副主编，中国科大出版社，1993.10</li>
                    <li>《英汉计算机应用与新技术词典》：副主编，人民邮电出版社，1996.6</li>
                    <li>《新英汉计算机软件与应用词典》，副主编，人民邮电出版社，2001.1</li>
                </ul>
                <h2>著作和教材</h2>
                <ul>
                    <li>陈国良，王志强，毛睿，张艳，《计算思维导论》高等教育出版社，2012</li>
                    <li>王鼎兴，陈国良， 《互联网络结构分析》，科学出版社，1990</li>
                    <li>生物医学工程跨系委员会， 《神经网络及其应用》，中国科大出版社，1992</li>
                    <li>生物医学工程跨系委员会： 《神经网络及其应用》，台湾儒林图书公司，1994</li>
                    <li>陈国良等，《遗传算法及其应用》，人民邮电出版社，1996</li>
                    <li>罗秋明等， 《0penMP编译原理及实现技术》，清华大学出版社，2012</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
