{% extends "sub.html" %}
{% block htmlhead %}
<link type="text/css" rel="stylesheet" media="screen" href="{{ siteUrl('static/styles/sub.css') }}" />
<script>
$(function(){
    path = window.location.pathname;
    $(".sub_list").each(function(){
        var href = $(this).find('a').attr("href");
        if (href == path){
            $(this).addClass("selected");
        }
    })
});
</script>
<style>
#content_body h1{
    font-size: 28px;
    text-align: center;
    margin: 20px;
    font-weight: bold;
}
#content_body ul{
    list-style: disc;
    margin-left: 60px;
}
</style>
{% endblock %}
{% block main %}
<div id="sub_main">
    <div id="menu_box">
        <div class="wrapper">
            <div id="menu_title">{{nav.title}}</div>
            <ul class="menu">
            {% for l in categories %}
                <li class="sub_list">
                    <a href="{{l.url}}"><span class="menu_list">{{l.title}}</span></a>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>

    <div id="content_box">
        <ul id="crumbs">
            <li><a href="/">首页</a></li>
            <li><a>{{ nav.title }}</a></li>
            <li><a>专利</a></li>
        </ul>
        <div id="content">
            <div id="content_title"> </div>
            <div id="content_body">
                <h1>专利</h1>
                <ul>
                    <li>软件名称：最少随机数生成的蛙跳算法系统，完成日期：2013年1月12日，登记号：2013SR123408</li>
                    <li>软件名称：倒排索引MSIndex系统，完成日期：2012年12月9日，登记号：2013SR047697</li>
                    <li>软件名称：并行分布式度量空间索引系统，完成日期：2012年10月12日，登记号：2013SR047975</li>
                </ul>
            </div>
        </div>
    </div>
    <div style="clear:both;"></div>
</div>
{% endblock %}
